div.message-content div.uwp {
    width: 100%;
    background-color: #F0F0F070;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

.jump-links {
    width: 100%;
}

.jump-links li {
    display: inline-block;
    text-align: center;
}

.jump-links li:first-child:before {
    content: "";
}

.jump-links li::before {
    content: " | ";
    padding-right: 4px;
    padding-left: 4px;
}

dl.traveller-map-uwp dt {
    float: left;
}

dl.traveller-map-uwp dt::after {
    content: ":";
    padding-right: 3px;
}

dd.traveller-map-uwp dd {

}

.uwp .subsector {
    font-weight: bold;
    font-style: italic;
}

.uwp .sector-name {
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.uwp .allegiance {
    font-style: italic;
}

.centre-link {
    text-align: center;
    display: block;
    width: 100%;
}
.uwp-big {
    font-weight: bold;
    font-size: 26px;
    margin-left: 8px;
}

.uwp-big p.uwp-letter {
    border: 1px solid #808080;
    border-radius: 3px;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: center;
    margin-right: 4px;
}

.uwp-big p.uwp-dash {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: center;
}

.journal-jump-map {
    float: right;
    width: 40%;
    border: none;
}

img.base-code {
   width: 64px;
    height: 64px;
    border: none;
    float: right;
}

div.zone {
    float: right;
    width: 128px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 3px;
}
div.amber-zone {
    color: black;
    background-color: orange;
}

div.red-zone {
    color: white;
    background-color: red;
}

div.base {
    clear: right;
    float: right;
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
}

.uwp h4 {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
}

div.starport {
    clear: right;
    float: right;
    font-weight: bold;
    font-color: black;
    font-size: 48pt;
}

p.nobility {
    font-weight: bold;
    font-size: 12pt;
}